.sqr{
    float:left; 
    width: 50px; 
    height:50px;
}

.topline{
    border-top: 3px solid black;
}

.leftLine{
    border-left: 3px solid black;
}

.clearfix{clear:both;
}

/*Styling for win popup*/
#popup{
            width:70%;
            height: 216px;
            background: green;
            margin: 50px 50px;
            position: absolute;
            clear:both;
            display:none;
}
